[
    {
        "username": "SX1010110", // 必填
        "password": "111111", // 必填
        "email": "example@qq.com", //必填 (用于打卡成功后发送通知)

        "assistant": "刘阿爽", // 可选 (不选则使用默认辅导员)
        "supervisor": "大刘", // 可选 (不选则使用默认导师)

        "date": "2020-09-31", // 可选 (不选则使用当前日期后一天)
        "reason": "约会", // 可选 (不选则从一个理由池中随机选择)
        "campus": "将军路校区", // 可选 (默认将军路校区)

        "driver": "Chrome" // 可选 (默认为 Chrome)
    }
]
